
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 24% 12%;
    --foreground: 0 0% 98%;

    --card: 240 24% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 24% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 265 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 180 100% 50%;
    --secondary-foreground: 240 24% 12%;

    --muted: 240 24% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 265 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 24% 20%;
    --input: 240 24% 20%;
    --ring: 265 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary/30 text-foreground;
  }
}
